<div class="authPage">
    <header>    
        <a [routerLink]="['/home']">
            <img src="../../assets/factorix.png" alt="" id="factorix">
        </a>
        <a [routerLink]="['/login']"><button>Sign In</button></a>
    </header>
    <div class="logout">
        <div class="logoutText">
            <h2>Leaving So Soon?</h2>
            <h3>Just so you know, you don't always need to sign out of Factorix. It's only necessary if you're on a shared or public computer.</h3>
            <p>You'll be redirected to Factorix in 30 seconds.</p>
            <a [routerLink]="['/home']"><button>Go Now <span>></span></button></a>
        </div>
    </div>
</div>